In [470]:
# Required Modules
import pandas as pd
from datetime import date

In [471]:
# Read the data
df = pd.read_csv('MCD_US.csv',skiprows = [1],parse_dates=['Date'])

In [472]:
df

          Date    Open    High     Low   Close  Adjusted_close   Volume
0   2021-08-10  235.10  235.10  233.24  233.45        228.3541  2027500
1   2021-08-11  234.19  235.94  233.75  235.55        230.4083  1969100
2   2021-08-12  236.00  236.76  235.05  236.67        231.5038  1490800
3   2021-08-13  236.79  239.00  236.27  238.82        233.6069  1699700
4   2021-08-16  239.00  241.05  238.56  240.97        235.7099  2175300
..         ...     ...     ...     ...     ...             ...      ...
245 2022-08-01  262.54  265.46  262.41  264.23        264.2300  2384000
246 2022-08-02  264.62  265.45  260.89  261.05        261.0500  2375200
247 2022-08-03  261.05  262.92  259.76  262.09        262.0900  2305300
248 2022-08-04  261.70  262.18  258.69  260.64        260.6400  2089600
249 2022-08-05  259.64  260.03  257.07  259.23        259.2300  1818500

[250 rows x 7 columns]

In [473]:
# Drop last 2 columns of dataframe
df = df.iloc[: , :-2]

In [474]:
df.head(10)

        Date    Open    High     Low   Close
0 2021-08-10  235.10  235.10  233.24  233.45
1 2021-08-11  234.19  235.94  233.75  235.55
2 2021-08-12  236.00  236.76  235.05  236.67
3 2021-08-13  236.79  239.00  236.27  238.82
4 2021-08-16  239.00  241.05  238.56  240.97
5 2021-08-17  240.35  240.84  238.21  240.28
6 2021-08-18  239.44  239.76  237.78  238.08
7 2021-08-19  236.68  238.12  236.07  237.23
8 2021-08-20  236.96  239.39  236.32  238.49
9 2021-08-23  239.46  240.07  237.99  239.66

In [475]:
#Check the data type of all columns
df.dtypes

Date     datetime64[ns]
Open            float64
High            float64
Low             float64
Close           float64
dtype: object

In [476]:
# Making Data as an Index
df = df.set_index(pd.to_datetime(df['Date']))

In [478]:
df

                 Date    Open    High     Low   Close
Date
2021-08-10 2021-08-10  235.10  235.10  233.24  233.45
2021-08-11 2021-08-11  234.19  235.94  233.75  235.55
2021-08-12 2021-08-12  236.00  236.76  235.05  236.67
2021-08-13 2021-08-13  236.79  239.00  236.27  238.82
2021-08-16 2021-08-16  239.00  241.05  238.56  240.97
...               ...     ...     ...     ...     ...
2022-08-01 2022-08-01  262.54  265.46  262.41  264.23
2022-08-02 2022-08-02  264.62  265.45  260.89  261.05
2022-08-03 2022-08-03  261.05  262.92  259.76  262.09
2022-08-04 2022-08-04  261.70  262.18  258.69  260.64
2022-08-05 2022-08-05  259.64  260.03  257.07  259.23

[250 rows x 5 columns]

In [479]:
#Create new (previous_week) column 
# Based on the previous week column group data in a weekly basis and calculate the maximum High/minimum Low values

df['Prev_Week_date'] = df['Date']-pd.to_timedelta(7, unit='d')
df['Weekly_Max_high'] = df.groupby([pd.Grouper(key = 'Prev_Week_date',freq = 'W')])['High'].transform('max')
df['Weekly_Min_low'] = df.groupby([pd.Grouper(key = 'Prev_Week_date',freq = 'W')])['Low'].transform('min')
df

,Date,Open,High,Low,Close,Prev_Week_date,Weekly_Max_high,Weekly_Min_low
Date,,,,,,,,
2021-08-10,2021-08-10,235.10,235.10,233.24,233.45,2021-08-03,239.00,233.24
2021-08-11,2021-08-11,234.19,235.94,233.75,235.55,2021-08-04,239.00,233.24
2021-08-12,2021-08-12,236.00,236.76,235.05,236.67,2021-08-05,239.00,233.24
2021-08-13,2021-08-13,236.79,239.00,236.27,238.82,2021-08-06,239.00,233.24
2021-08-16,2021-08-16,239.00,241.05,238.56,240.97,2021-08-09,241.05,236.07
...,...,...,...,...,...,...,...,...
2022-08-01,2022-08-01,262.54,265.46,262.41,264.23,2022-07-25,265.46,257.07
2022-08-02,2022-08-02,264.62,265.45,260.89,261.05,2022-07-26,265.46,257.07
2022-08-03,2022-08-03,261.05,262.92,259.76,262.09,2022-07-27,265.46,257.07
2022-08-04,2022-08-04,261.70,262.18,258.69,260.64,2022-07-28,265.46,257.07
2022-08-05,2022-08-05,259.64,260.03,257.07,259.23,2022-07-29,265.46,257.07

In [480]:
#Create new (Quarter and Prev_Quarter) columns 

df['Quarter'] = df['Date'].dt.to_period('Q')
df['Prev_Quarter'] = df['Date'].dt.to_period('Q') - 1
df

,Date,Open,High,Low,Close,Prev_Week_date,Weekly_Max_high,Weekly_Min_low,Quarter,Prev_Quarter
Date,,,,,,,,,,
2021-08-10,2021-08-10,235.10,235.10,233.24,233.45,2021-08-03,239.00,233.24,2021Q3,2021Q2
2021-08-11,2021-08-11,234.19,235.94,233.75,235.55,2021-08-04,239.00,233.24,2021Q3,2021Q2
2021-08-12,2021-08-12,236.00,236.76,235.05,236.67,2021-08-05,239.00,233.24,2021Q3,2021Q2
2021-08-13,2021-08-13,236.79,239.00,236.27,238.82,2021-08-06,239.00,233.24,2021Q3,2021Q2
2021-08-16,2021-08-16,239.00,241.05,238.56,240.97,2021-08-09,241.05,236.07,2021Q3,2021Q2
...,...,...,...,...,...,...,...,...,...,...
2022-08-01,2022-08-01,262.54,265.46,262.41,264.23,2022-07-25,265.46,257.07,2022Q3,2022Q2
2022-08-02,2022-08-02,264.62,265.45,260.89,261.05,2022-07-26,265.46,257.07,2022Q3,2022Q2
2022-08-03,2022-08-03,261.05,262.92,259.76,262.09,2022-07-27,265.46,257.07,2022Q3,2022Q2
2022-08-04,2022-08-04,261.70,262.18,258.69,260.64,2022-07-28,265.46,257.07,2022Q3,2022Q2
2022-08-05,2022-08-05,259.64,260.03,257.07,259.23,2022-07-29,265.46,257.07,2022Q3,2022Q2

In [481]:
# Group data in a quarterly basis and calculate the maximum High values

Quarterly_Max_high_df = df.groupby('Quarter')['High'].max().reset_index()
Quarterly_Max_high_df.rename(columns = {'High':'Quarterly_max_High','Quarter':'Prev_Quarter',}, inplace = True)
Quarterly_Max_high_df

  Prev_Quarter  Quarterly_max_High
0       2021Q3              248.90
1       2021Q4              269.72
2       2022Q1              271.15
3       2022Q2              259.61
4       2022Q3              265.46

In [482]:
# Group data in a quarterly basis and calculate the minimum Low values

Quarterly_Min_low_df = df.groupby('Quarter')['Low'].min().reset_index()
Quarterly_Min_low_df.rename(columns = {'Low':'Quarterly_min_Low','Quarter':'Prev_Quarter',}, inplace = True)
Quarterly_Min_low_df

  Prev_Quarter  Quarterly_min_Low
0       2021Q3             233.24
1       2021Q4             236.14
2       2022Q1             217.68
3       2022Q2             228.34
4       2022Q3             246.00

In [483]:
#Join the results to the previous DataFrame 

Merged_df = df.merge(Quarterly_Max_high_df, how='left', on=["Prev_Quarter"])
Merged_df = Merged_df.merge(Quarterly_Min_low_df, how='left', on=["Prev_Quarter"])
Merged_df.tail(50)

,Date,Open,High,Low,Close,Prev_Week_date,Weekly_Max_high,Weekly_Min_low,Quarter,Prev_Quarter,Quarterly_max_High,Quarterly_min_Low
200,2022-05-25,242.58,245.70,241.59,244.01,2022-05-18,251.87,233.50,2022Q2,2022Q1,271.15,217.68
201,2022-05-26,246.00,249.33,245.60,248.09,2022-05-19,251.87,233.50,2022Q2,2022Q1,271.15,217.68
202,2022-05-27,249.50,251.87,248.78,251.87,2022-05-20,251.87,233.50,2022Q2,2022Q1,271.15,217.68
203,2022-05-31,250.00,254.28,248.63,252.21,2022-05-24,254.28,246.22,2022Q2,2022Q1,271.15,217.68
204,2022-06-01,253.19,253.42,248.19,249.28,2022-05-25,254.28,246.22,2022Q2,2022Q1,271.15,217.68
205,2022-06-02,249.60,250.44,246.22,250.38,2022-05-26,254.28,246.22,2022Q2,2022Q1,271.15,217.68
206,2022-06-03,248.43,250.27,248.17,248.36,2022-05-27,254.28,246.22,2022Q2,2022Q1,271.15,217.68
207,2022-06-06,249.08,249.53,247.33,248.07,2022-05-30,249.79,237.16,2022Q2,2022Q1,271.15,217.68
208,2022-06-07,246.00,249.79,245.53,248.94,2022-05-31,249.79,237.16,2022Q2,2022Q1,271.15,217.68
209,2022-06-08,247.90,248.48,244.89,245.61,2022-06-01,249.79,237.16,2022Q2,2022Q1,271.15,217.68
210,2022-06-09,243.62,246.00,242.03,242.16,2022-06-02,249.79,237.16,2022Q2,2022Q1,271.15,217.68
211,2022-06-10,239.18,239.51,237.16,237.38,2022-06-03,249.79,237.16,2022Q2,2022Q1,271.15,217.68
212,2022-06-13,232.79,240.10,232.68,238.47,2022-06-06,242.90,232.17,2022Q2,2022Q1,271.15,217.68
213,2022-06-14,239.96,242.90,238.62,238.76,2022-06-07,242.90,232.17,2022Q2,2022Q1,271.15,217.68
214,2022-06-15,239.86,241.58,236.12,238.90,2022-06-08,242.90,232.17,2022Q2,2022Q1,271.15,217.68
215,2022-06-16,236.08,237.32,233.82,235.19,2022-06-09,242.90,232.17,2022Q2,2022Q1,271.15,217.68
216,2022-06-17,234.22,235.49,232.17,234.38,2022-06-10,242.90,232.17,2022Q2,2022Q1,271.15,217.68
217,2022-06-21,236.22,240.10,234.14,239.59,2022-06-14,248.00,234.14,2022Q2,2022Q1,271.15,217.68
218,2022-06-22,238.79,244.55,238.36,243.06,2022-06-15,248.00,234.14,2022Q2,2022Q1,271.15,217.68
219,2022-06-23,243.70,245.09,240.46,243.58,2022-06-16,248.00,234.14,2022Q2,2022Q1,271.15,217.68
220,2022-06-24,245.26,248.00,244.49,247.90,2022-06-17,248.00,234.14,2022Q2,2022Q1,271.15,217.68
221,2022-06-27,247.90,248.77,246.57,247.03,2022-06-20,253.14,242.52,2022Q2,2022Q1,271.15,217.68
222,2022-06-28,247.06,249.96,242.52,242.83,2022-06-21,253.14,242.52,2022Q2,2022Q1,271.15,217.68
223,2022-06-29,246.14,248.87,245.11,247.74,2022-06-22,253.14,242.52,2022Q2,2022Q1,271.15,217.68
224,2022-06-30,248.25,248.59,245.45,246.88,2022-06-23,253.14,242.52,2022Q2,2022Q1,271.15,217.68
225,2022-07-01,246.35,253.14,246.00,252.96,2022-06-24,253.14,242.52,2022Q3,2022Q2,259.61,228.34
226,2022-07-05,251.15,253.00,249.66,252.29,2022-06-28,254.92,249.37,2022Q3,2022Q2,259.61,228.34
227,2022-07-06,252.47,252.86,249.37,251.46,2022-06-29,254.92,249.37,2022Q3,2022Q2,259.61,228.34
228,2022-07-07,253.26,254.92,251.18,252.94,2022-06-30,254.92,249.37,2022Q3,2022Q2,259.61,228.34
229,2022-07-08,252.60,254.62,252.32,253.24,2022-07-01,254.92,249.37,2022Q3,2022Q2,259.61,228.34
230,2022-07-11,252.08,255.40,252.08,253.28,2022-07-04,256.39,248.26,2022Q3,2022Q2,259.61,228.34
231,2022-07-12,252.97,255.62,250.76,251.48,2022-07-05,256.39,248.26,2022Q3,2022Q2,259.61,228.34
232,2022-07-13,248.96,254.80,248.26,252.67,2022-07-06,256.39,248.26,2022Q3,2022Q2,259.61,228.34
233,2022-07-14,249.89,253.10,249.62,252.60,2022-07-07,256.39,248.26,2022Q3,2022Q2,259.61,228.34
234,2022-07-15,254.02,256.39,253.45,255.01,2022-07-08,256.39,248.26,2022Q3,2022Q2,259.61,228.34
235,2022-07-18,255.24,255.59,252.07,252.42,2022-07-11,256.91,252.07,2022Q3,2022Q2,259.61,228.34
236,2022-07-19,253.88,256.62,252.97,256.50,2022-07-12,256.91,252.07,2022Q3,2022Q2,259.61,228.34
237,2022-07-20,256.78,256.91,253.47,254.58,2022-07-13,256.91,252.07,2022Q3,2022Q2,259.61,228.34
238,2022-07-21,253.99,254.80,252.32,253.47,2022-07-14,256.91,252.07,2022Q3,2022Q2,259.61,228.34
239,2022-07-22,253.75,254.53,252.45,253.99,2022-07-15,256.91,252.07,2022Q3,2022Q2,259.61,228.34
240,2022-07-25,254.57,254.80,248.66,250.38,2022-07-18,264.35,248.66,2022Q3,2022Q2,259.61,228.34
241,2022-07-26,249.56,259.22,248.70,257.09,2022-07-19,264.35,248.66,2022Q3,2022Q2,259.61,228.34
242,2022-07-27,255.80,259.91,254.69,258.89,2022-07-20,264.35,248.66,2022Q3,2022Q2,259.61,228.34
243,2022-07-28,258.80,264.00,257.56,263.46,2022-07-21,264.35,248.66,2022Q3,2022Q2,259.61,228.34
244,2022-07-29,263.65,264.35,262.10,263.37,2022-07-22,264.35,248.66,2022Q3,2022Q2,259.61,228.34
245,2022-08-01,262.54,265.46,262.41,264.23,2022-07-25,265.46,257.07,2022Q3,2022Q2,259.61,228.34
246,2022-08-02,264.62,265.45,260.89,261.05,2022-07-26,265.46,257.07,2022Q3,2022Q2,259.61,228.34
247,2022-08-03,261.05,262.92,259.76,262.09,2022-07-27,265.46,257.07,2022Q3,2022Q2,259.61,228.34
248,2022-08-04,261.70,262.18,258.69,260.64,2022-07-28,265.46,257.07,2022Q3,2022Q2,259.61,228.34
249,2022-08-05,259.64,260.03,257.07,259.23,2022-07-29,265.46,257.07,2022Q3,2022Q2,259.61,228.34

In [484]:
#Create new (Month and Prev_Month) columns 

Merged_df['Month'] = Merged_df['Date'].dt.to_period('M')
Merged_df['Prev_Month'] = Merged_df['Date'].dt.to_period('M') - 1
Merged_df

,Date,Open,High,Low,Close,Prev_Week_date,Weekly_Max_high,Weekly_Min_low,Quarter,Prev_Quarter,Quarterly_max_High,Quarterly_min_Low,Month,Prev_Month
0,2021-08-10,235.10,235.10,233.24,233.45,2021-08-03,239.00,233.24,2021Q3,2021Q2,NaN,NaN,2021-08,2021-07
1,2021-08-11,234.19,235.94,233.75,235.55,2021-08-04,239.00,233.24,2021Q3,2021Q2,NaN,NaN,2021-08,2021-07
2,2021-08-12,236.00,236.76,235.05,236.67,2021-08-05,239.00,233.24,2021Q3,2021Q2,NaN,NaN,2021-08,2021-07
3,2021-08-13,236.79,239.00,236.27,238.82,2021-08-06,239.00,233.24,2021Q3,2021Q2,NaN,NaN,2021-08,2021-07
4,2021-08-16,239.00,241.05,238.56,240.97,2021-08-09,241.05,236.07,2021Q3,2021Q2,NaN,NaN,2021-08,2021-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,2022-08-01,262.54,265.46,262.41,264.23,2022-07-25,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07
246,2022-08-02,264.62,265.45,260.89,261.05,2022-07-26,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07
247,2022-08-03,261.05,262.92,259.76,262.09,2022-07-27,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07
248,2022-08-04,261.70,262.18,258.69,260.64,2022-07-28,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07
249,2022-08-05,259.64,260.03,257.07,259.23,2022-07-29,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07

In [485]:
# Group data in monthly basis and calculate the maximum High values

Monthly_Max_high_df = Merged_df.groupby('Month')['High'].max().reset_index()
Monthly_Max_high_df.rename(columns = {'High':'Monthly_max_High','Month':'Prev_Month',}, inplace = True)
Monthly_Max_high_df

   Prev_Month  Monthly_max_High
0     2021-08            241.05
1     2021-09            248.90
2     2021-10            249.95
3     2021-11            257.79
4     2021-12            269.72
5     2022-01            271.15
6     2022-02            262.88
7     2022-03            251.35
8     2022-04            259.61
9     2022-05            254.78
10    2022-06            253.42
11    2022-07            264.35
12    2022-08            265.46

In [486]:
# Group data in monthly basis and calculate the minimum Low values

Monthly_Min_low_df = Merged_df.groupby('Month')['Low'].min().reset_index()
Monthly_Min_low_df.rename(columns = {'Low':'Monthly_min_low','Month':'Prev_Month',}, inplace = True)
Monthly_Min_low_df

   Prev_Month  Monthly_min_low
0     2021-08           233.24
1     2021-09           235.95
2     2021-10           236.14
3     2021-11           243.95
4     2021-12           244.11
5     2022-01           245.25
6     2022-02           239.61
7     2022-03           217.68
8     2022-04           242.38
9     2022-05           228.34
10    2022-06           232.17
11    2022-07           246.00
12    2022-08           257.07

In [487]:
#Join the results to the previous DataFrame 

Merged_df_v2 = Merged_df.merge(Monthly_Max_high_df, how='left', on=["Prev_Month"])
Merged_df_v2 = Merged_df_v2.merge(Monthly_Min_low_df, how='left', on=["Prev_Month"])
Merged_df_v2.tail(50)

,Date,Open,High,Low,Close,Prev_Week_date,Weekly_Max_high,Weekly_Min_low,Quarter,Prev_Quarter,Quarterly_max_High,Quarterly_min_Low,Month,Prev_Month,Monthly_max_High,Monthly_min_low
200,2022-05-25,242.58,245.70,241.59,244.01,2022-05-18,251.87,233.50,2022Q2,2022Q1,271.15,217.68,2022-05,2022-04,259.61,242.38
201,2022-05-26,246.00,249.33,245.60,248.09,2022-05-19,251.87,233.50,2022Q2,2022Q1,271.15,217.68,2022-05,2022-04,259.61,242.38
202,2022-05-27,249.50,251.87,248.78,251.87,2022-05-20,251.87,233.50,2022Q2,2022Q1,271.15,217.68,2022-05,2022-04,259.61,242.38
203,2022-05-31,250.00,254.28,248.63,252.21,2022-05-24,254.28,246.22,2022Q2,2022Q1,271.15,217.68,2022-05,2022-04,259.61,242.38
204,2022-06-01,253.19,253.42,248.19,249.28,2022-05-25,254.28,246.22,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
205,2022-06-02,249.60,250.44,246.22,250.38,2022-05-26,254.28,246.22,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
206,2022-06-03,248.43,250.27,248.17,248.36,2022-05-27,254.28,246.22,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
207,2022-06-06,249.08,249.53,247.33,248.07,2022-05-30,249.79,237.16,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
208,2022-06-07,246.00,249.79,245.53,248.94,2022-05-31,249.79,237.16,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
209,2022-06-08,247.90,248.48,244.89,245.61,2022-06-01,249.79,237.16,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
210,2022-06-09,243.62,246.00,242.03,242.16,2022-06-02,249.79,237.16,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
211,2022-06-10,239.18,239.51,237.16,237.38,2022-06-03,249.79,237.16,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
212,2022-06-13,232.79,240.10,232.68,238.47,2022-06-06,242.90,232.17,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
213,2022-06-14,239.96,242.90,238.62,238.76,2022-06-07,242.90,232.17,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
214,2022-06-15,239.86,241.58,236.12,238.90,2022-06-08,242.90,232.17,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
215,2022-06-16,236.08,237.32,233.82,235.19,2022-06-09,242.90,232.17,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
216,2022-06-17,234.22,235.49,232.17,234.38,2022-06-10,242.90,232.17,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
217,2022-06-21,236.22,240.10,234.14,239.59,2022-06-14,248.00,234.14,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
218,2022-06-22,238.79,244.55,238.36,243.06,2022-06-15,248.00,234.14,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
219,2022-06-23,243.70,245.09,240.46,243.58,2022-06-16,248.00,234.14,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
220,2022-06-24,245.26,248.00,244.49,247.90,2022-06-17,248.00,234.14,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
221,2022-06-27,247.90,248.77,246.57,247.03,2022-06-20,253.14,242.52,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
222,2022-06-28,247.06,249.96,242.52,242.83,2022-06-21,253.14,242.52,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
223,2022-06-29,246.14,248.87,245.11,247.74,2022-06-22,253.14,242.52,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
224,2022-06-30,248.25,248.59,245.45,246.88,2022-06-23,253.14,242.52,2022Q2,2022Q1,271.15,217.68,2022-06,2022-05,254.78,228.34
225,2022-07-01,246.35,253.14,246.00,252.96,2022-06-24,253.14,242.52,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
226,2022-07-05,251.15,253.00,249.66,252.29,2022-06-28,254.92,249.37,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
227,2022-07-06,252.47,252.86,249.37,251.46,2022-06-29,254.92,249.37,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
228,2022-07-07,253.26,254.92,251.18,252.94,2022-06-30,254.92,249.37,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
229,2022-07-08,252.60,254.62,252.32,253.24,2022-07-01,254.92,249.37,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
230,2022-07-11,252.08,255.40,252.08,253.28,2022-07-04,256.39,248.26,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
231,2022-07-12,252.97,255.62,250.76,251.48,2022-07-05,256.39,248.26,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
232,2022-07-13,248.96,254.80,248.26,252.67,2022-07-06,256.39,248.26,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
233,2022-07-14,249.89,253.10,249.62,252.60,2022-07-07,256.39,248.26,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
234,2022-07-15,254.02,256.39,253.45,255.01,2022-07-08,256.39,248.26,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
235,2022-07-18,255.24,255.59,252.07,252.42,2022-07-11,256.91,252.07,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
236,2022-07-19,253.88,256.62,252.97,256.50,2022-07-12,256.91,252.07,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
237,2022-07-20,256.78,256.91,253.47,254.58,2022-07-13,256.91,252.07,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
238,2022-07-21,253.99,254.80,252.32,253.47,2022-07-14,256.91,252.07,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
239,2022-07-22,253.75,254.53,252.45,253.99,2022-07-15,256.91,252.07,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
240,2022-07-25,254.57,254.80,248.66,250.38,2022-07-18,264.35,248.66,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
241,2022-07-26,249.56,259.22,248.70,257.09,2022-07-19,264.35,248.66,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
242,2022-07-27,255.80,259.91,254.69,258.89,2022-07-20,264.35,248.66,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
243,2022-07-28,258.80,264.00,257.56,263.46,2022-07-21,264.35,248.66,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
244,2022-07-29,263.65,264.35,262.10,263.37,2022-07-22,264.35,248.66,2022Q3,2022Q2,259.61,228.34,2022-07,2022-06,253.42,232.17
245,2022-08-01,262.54,265.46,262.41,264.23,2022-07-25,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07,264.35,246.00
246,2022-08-02,264.62,265.45,260.89,261.05,2022-07-26,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07,264.35,246.00
247,2022-08-03,261.05,262.92,259.76,262.09,2022-07-27,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07,264.35,246.00
248,2022-08-04,261.70,262.18,258.69,260.64,2022-07-28,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07,264.35,246.00
249,2022-08-05,259.64,260.03,257.07,259.23,2022-07-29,265.46,257.07,2022Q3,2022Q2,259.61,228.34,2022-08,2022-07,264.35,246.00